@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-Regular.eot");
  src: url("../fonts/Gelion/Gelion-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelion/Gelion-Regular.woff") format("woff"), url("../fonts/Gelion/Gelion-Regular.ttf") format("truetype"), url("../fonts/Gelion/Gelion-Regular.svg#Gelion-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/GelionGelion-Medium.eot");
  src: url("../fonts/Gelion/Gelion-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelion/Gelion-Medium.woff") format("woff"), url("../fonts/Gelion/Gelion-Medium.ttf") format("truetype"), url("../fonts/Gelion/Gelion-Medium.svg#Gelion-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-SemiBold.eot");
  src: url("../fonts/Gelion/Gelion-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelion/Gelion-SemiBold.woff") format("woff"), url("../fonts/Gelion/Gelion-SemiBold.ttf") format("truetype"), url("../fonts/Gelion/Gelion-SemiBold.svg#Gelion-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-Bold.eot");
  src: url("../fonts/Gelion/Gelion-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gelion/Gelion-Bold.woff") format("woff"), url("../fonts/Gelion/Gelion-Bold.ttf") format("truetype"), url("../fonts/Gelion/Gelion-Bold.svg#Gelion-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay/RedHatDisplay-Bold.eot");
  src: url("../fonts/RedHatDisplay/RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RedHatDisplay/RedHatDisplay-Bold.woff") format("woff"), url("../fonts/RedHatDisplay/RedHatDisplay-Bold.ttf") format("truetype"), url("../fonts/RedHatDisplay/RedHatDisplay-Bold.svg#RedHatDisplay-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Gelion", sans-serif;
  font-size: 18px;
  line-height: 2.15;
  color: #4b4f51;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  list-style: none;
}

.title-accent {
  color: #fa5652;
}

.container {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 70px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.menu-link {
  font-size: 18px;
  line-height: 1.25;
  color: #035755;
}

.menu-link:hover, .menu-link:focus {
  color: #fa5652;
}

.contact-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  color: #fb4c47;
  padding: 15px 45px;
  border: 2px solid #fb4c47;
  border-radius: 46px;
}

.hero {
  padding-top: 215px;
  padding-bottom: 215px;
  background-image: url(./img/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero-title {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  width: 400px;
  margin-bottom: 95px;
  color: #fa5652;
  text-transform: capitalize;
}

.hero-text {
  font-size: 24px;
  line-height: 1.9;
  text-transform: capitalize;
  width: 650px;
  margin-bottom: 55px;
}

.hero-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
  padding: 25px 60px;
  color: #ffffff;
  background: #fb4c47;
  -webkit-box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
}

.overview {
  padding-top: 250px;
  padding-bottom: 130px;
  background-image: url(./img/overview/overview.jpg);
  background-repeat: no-repeat;
}

.overview-container {
  margin-left: 730px;
}

.overview-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  width: 290px;
  color: #035755;
}

.overview-text {
  font-size: 20px;
  line-height: 2.15;
  text-transform: capitalize;
  width: 650px;
  margin-bottom: 55px;
}

.overview-btn {
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  padding: 22px 50px;
  color: #fa5652;
  background-color: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
}

.contagion {
  text-align: center;
  background-image: url(/img/contagion/bg.jpg);
  background-repeat: no-repeat;
  background-position: 9.5% 97%;
}

.contagion-title {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  color: #035755;
}

.contagion-text {
  font-size: 18px;
  line-height: 2.15;
  text-transform: capitalize;
  margin-bottom: 110px;
}

.contagion-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contagion-list .contagion-item + .contagion-item {
  margin-left: 30px;
}

.contagion-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-bottom: 6px solid #fa5652;
  border-radius: 0px 0px 10px 10px;
  width: 460px;
}

.contagion-img img {
  width: 270px;
  height: 250px;
  margin: 65px auto 60px;
}

.contagion-item-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.47;
  text-transform: capitalize;
  color: #035755;
}

.contagion-item-text {
  margin: 0 auto 78px;
  width: 355px;
  line-height: 1.85;
  text-transform: capitalize;
}

.symptomps {
  text-align: center;
  padding-top: 150px;
}

.symptomps-title {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  color: #035755;
}

.symptomps-text {
  line-height: 2.15;
  text-transform: capitalize;
}

.symptomps-img {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */