.hero {
  padding-top: 215px;
  padding-bottom: 215px;
  background-image: url(../img/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero-title {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  width: 400px;
  margin-bottom: 95px;
  color: $accent;
  text-transform: capitalize;
}

.hero-text {
  font-size: 24px;
  line-height: 1.9;
  text-transform: capitalize;
  width: 650px;
  margin-bottom: 55px;
}
