.symptomps {
  text-align: center;
  padding-top: 150px;
}

.symptomps-title {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  color: $title;
}

.symptomps-text {
  line-height: 2.15;
  text-transform: capitalize;
}

.symptomps-img {
  margin: 0 auto;
}
