.overview {
  padding-top: 250px;
  padding-bottom: 130px;
  background-image: url(./img/overview/overview.jpg);
  background-repeat: no-repeat;
}
.overview-container {
  margin-left: 730px;
}

.overview-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  width: 290px;

  color: $title;
}

.overview-text {
  font-size: 20px;
  line-height: 2.15;
  text-transform: capitalize;
  width: 650px;
  margin-bottom: 55px;
}
