.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 40px;

  & .menu-item + .menu-item {
    margin-left: 50px;
  }
}

.menu-link {
  font-size: 18px;
  line-height: 1.25;
  color: $title;

  &:hover,
  &:focus {
    color: $accent;
  }
}
