html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Gelion", sans-serif;
  font-size: 18px;
  line-height: 2.15;
  color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

.title-accent {
  color: $accent;
}
